html{
    scroll-behavior: smooth;
}

.jumbotron{
    padding: 2rem 1rem;
    height: 90vh;
}

.headline{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding-top: 2%;
}

.hero-img{
    width: 75%;
    margin-right: 13%;
    padding-top: 5%;   
    padding-bottom: 5%; 
}

.img-thumbnail{
    border-radius:10%;
    width: 40%; 
    margin-left: 26%; 
    margin-bottom: 10%;
}

.card{
    margin-top: 5%;
    background-color: black;
    color: white;
}

.about{
    margin-top: 2%;
    padding-top: 3%;
    padding-bottom: 3%;
}

.material-icons{
    margin-left: 50%;
}

#email {
    text-align: center;
}

#phone{
    text-align: center;
}

.linkedin{
    width: 7%;   
}

.visit{
    margin-right: 2%;
}

.visit2{
    margin-bottom: 2.2%;
}

.card{
    border-style: none;
}

@media (max-width: 575.98px) {
    .img-thumbnail{ 
        width: 50%;        
    }
    
    .linkedin{
        width: 15%;  
    }
    .porto{
        margin-top: -150px;
    }
    .resume{
        width: 100px;
    }
 }
